<footer class="mt-5 bg2">
	<div class="footer_style text-white text-center container-fluid">
		<p> Copyright by  @<a  style="color:white"href="https://www.linkedin.com/in/siddharth-singh-644011154" id="lnkd">Siddharth singh<a></p>
		
	</div>
</footer>