
<div class="container-fluid  pt-5 pb-5 " id="contactid">
		<div class="section_header text-center mb-5 mt-4">
			<h1>JobSeekers  Registration</h1>
		</div>









<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-12">
			<form id="form_submit_recruiters" method="post" action="/users/jobseekercreate">
  <div class="form-group">
    <label >Username</label>
    <input type="text" class="form-control" name="name" placeholder="name" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label >Unique Id</label>
    <input type="number" class="form-control" name="id" placeholder="identity" autocomplete="off" required>
  </div>

  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" name="email" placeholder="email" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label >password</label>
    <input type="password" class="form-control" name="password" placeholder="password" autocomplete="off" required>
  </div>
   <div class="form-group">
    <label >Confirm password</label>
    <input type="password" class="form-control" name="confirm_password" placeholder="confirm password" autocomplete="off" required>
  </div>

   <div class="form-group ">
    <label for="exampleFormControlSelect1">Employment Type</label>
    <select name="employment"class="form-control" id="exampleFormControlSelect1">
      <option>Daily Wages</option>
      <option>Internships</option>
      <option>Full time role</option>
    </select>
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
			
		</div>
	</div>
</div>
</div>