

<div class="container-fluid  pt-5 pb-5 " id="contactid">
		<div class="section_header text-center mb-5 mt-4">
			<h1>Recruiters SignIn</h1>
		</div>



<div class="container">
	
<div class="row">
    <div class="col-lg-8 offset-lg-2 col-12">
      <form id="form_signin_recruiters" method="post" action="/users/create-session">
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" name="email" placeholder="email" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label >password</label>
    <input type="password" class="form-control" name="password" placeholder="password" autocomplete="off" required>
  </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
			
		</div>
	</div>
</div>
</div>